:root {
    --font-size: 18px;
    --header-font-size:24px;
    --background-color: #000000;
    --font-color: #ffffff;
    --header-font-weight: bold;
    --table-border-color: #444;
    --table-header-background: #333;
    --transition-opacity: 1s ease-in-out;
    --primary-color: #ffffff;
    --secondary-color: #5e5e5e;
    --primary-button-bg: #ffffff;
    --primary-button-color: #000000;
    --secondary-button-bg: #5a6268;
    --secondary-button-color: #ffffff;
    --disabled-button-bg: #555;
    --loading-color:#191919;
}
